@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,500&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap ');

:root{
    --font: 'Passion One', sans-serif;
    --font_comum:'Inter', sans-serif;
    --cor01:#dbdbdb;
    --cor02:#8fa3a0;
    --cor03:#ddb104;
    --cor05:#7510f7;
}

*{
   margin: 0;
   padding: 0;
   font-size: 1em;
}
body{
   font-family: var(--font_comum);
   background-color: var(--cor01)
}
header{
   background-color: var(--cor01);
   padding: 20px 0px;
   text-align: center;
   width: 100%;
   padding-top: 15px;
   display: flex;
   justify-content: space-evenly;
}

nav{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding-top: 15px;
    margin: auto;
}
nav > a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    transition: 1.0s;
}
.banner{
    width: 100%;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}
.conteudo{
    padding-left: 40px;
}
.conteudo > h2{
    font-family: var(--font);
    font-size: 3em;
    padding-bottom: 15px;
}
.conteudo > p {
    font-family: var(--font_comum);
    padding-bottom: 35px;
    line-height: 25px;
}
.conteudo > p > a{
    text-decoration: none;
    color: var(--cor05);
    padding: 10px;
    border: 2px solid var(--cor05);
    border-radius: 10px;
    transition: 1.0s;
}
nav > a:hover{
    color: var(--cor05);
    text-shadow: 10px 10px 10px black;
    text-decoration: solid;
}
.conteudo > p > a:hover{
    background-color: var(--cor05);
    color: white;
}
.banner00 > img{
    margin-left: 20%;
    width: 60%;
}
.banner00_div{
    color: white;
    background-color: var(--cor05);
    text-align: center;
    line-height: 30px;
    height: 60vh;
    padding-top: 40px;
}
.banner00_div > h1{
    font-size:2.8em;
    padding-bottom: 30px;
}
.banner00_div > p{
    text-align: start;
    padding-left:10%;
    padding-right:10%;
    font-size: 1.7vw;
}
.banner01{
    background-color: var(--cor01);
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}
.banner01 > h1{
    font-size: 2em;
    font-family: var(--font);
    padding-bottom: 30px;
}
.dominio{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
}
.html, .css, .js{
    box-shadow: 5px 5px 20px black;
    border-radius: 15px;
    padding: 40px;
    background-color: var(--cor05);
}
.html > p, .css >p , .js > p{
    padding-top: 20px;
}

.rodape{
    display: flex;
    justify-content: space-between;
}
.social > h1{
    font-size: 2em;
    padding-bottom: 15px;
    font-family: var(--font);
    color: var(--cor01);
}
.itens{
    padding: 0px 6px;
}
.meus_sites{
     padding-right: 50px;
     color: var(--cor01);
     display: flex;
     flex-direction: column;
}
.meus_sites > h2{
    font-size: 1.7em;
    padding-bottom: 13px;
}
.meus_sites > li{
    line-height: 30px;
}
.meus_sites > li > a{
    text-decoration: none;
    color: var(--cor01);
}
.meus_sites > li > a::after{
    content: url(../imagem/icons/link-externo.png);
}
.meus_sites > li > a:hover{
    color: var(--cor02);
    border-bottom: 1px solid;
}
footer{
    background-color: var(--cor05);
    padding: 30px;
}
@media (max-width: 730px){
    header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4% 0% 7% 0px;
        font-size: 4.0vw;
        box-shadow: 2px 2px 10px black;
    }
    nav{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
    }
    .banner{
        width: 96%;
        display: flex;
        flex-direction: column-reverse;
        
    }
    img{
        width: 40vw;
    }
    .conteudo{
        padding: 15px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .conteudo > h2{
        font-size: 1.8em;
    }
    .conteudo > p > a{
        padding: 5px;
        border: 1px solid var(--cor02);
        border-radius: 10px;
        font-size: 1em;
        width: 50vw;
        background-color: var(--cor05);
        color: white;
    }
    .menu{
        padding-left: -15px;
    }
    .rodape{
        display:flex;
        flex-direction: column;   
    }
    .social{
        padding-bottom: 40px;
    }
    .social > a > img{ 
       width: 8vw;
    }
    .banner00_div{
        height: 80vh;
        font-size: 2vw;
   }
    .banner00_div > h1{
        font-size: 9.8vw;
    }
    .banner00_div > p{
        font-size: 4.5vw;
        line-height: 25px;
    }
}
@media (max-width: 855px){
    .dominio{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        gap: 25px 0px;
    }
    .menu{
       width: 5vw;
    }
    .banner00_div{
        line-height: 18px;
    }
}