@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,500&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap ');

:root{
    --font: 'Passion One', sans-serif;
    --font_comum:'Inter', sans-serif;
    --cor01:#bcc4b3;
    --cor02:#006c78;
    --cor03:#8fa3a0;
    --cor04:#ddb104;
    --cor05:#193b59;
}

*{
   margin: 0;
   padding: 0;
   font-size: 1em;
}
body{
   font-family: var(--font_comum);
   background-color: var(--cor01)
}
header{
   background-color: var(--cor03);
   padding: 20px 0px;
   text-align: center;
   box-shadow: 2px 2px 18px black;
   position: fixed;
   width: 100%;
   margin-top: -35px;
   display: flex;
   justify-content: space-evenly;
}
nav{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
}
nav > a{
    text-decoration: none;
    color: var(--cor02);
    font-size: 15px;
    font-size: 1.1em;
    transition: 1.0s;
}
.menu{
    padding-right: 50px;
}
.banner{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.conteudo > h2{
    font-family: var(--font);
    font-size: 3em;
    padding-bottom: 15px;
}
.conteudo > p {
    padding-bottom: 35px;
}
.conteudo > p > a{
    text-decoration: none;
    color: var(--cor02);
    padding: 10px;
    border: 2px solid var(--cor02);
    border-radius: 10px;
    transition: 1.0s;
}
nav > a:hover{
    color: var(--cor04);
    text-shadow: 10px 10px 10px black;
}
.conteudo > p > a:hover{
    background-color: var(--cor03);
    color: white;
}
.banner01{
    background-color: var(--cor03);
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    box-shadow: -2px -2px 18px black;
}
.banner01 > h1{
    font-size: 2em;
    font-family: var(--font);
    padding-bottom: 30px;
}
.dominio{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
}
.html, .css, .js{
    box-shadow: 5px 5px 20px black;
    border-radius: 15px;
    padding: 40px;
    background-color: var(--cor05);
}
.html > p, .css >p , .js > p{
    padding-top: 20px;
}
footer{
    background-color: var(--cor05);
    padding: 30px;
}
.rodape{
    display: flex;
    justify-content: space-between;
}
.social > h1{
    font-size: 2em;
    padding-bottom: 15px;
    font-family: var(--font);
    color: var(--cor01);
}
.itens{
    padding: 0px 6px;
}
.meus_sites{
     padding-right: 50px;
     color: var(--cor01);
     display: flex;
     flex-direction: column;
}
.meus_sites > h2{
    font-size: 1.7em;
    padding-bottom: 13px;
}
.meus_sites > li{
    line-height: 30px;
}
.meus_sites > li > a{
    text-decoration: none;
    color: var(--cor01);
}
.meus_sites > li > a::after{
    content: url(../imagem/icons/link-externo.png);
}
.meus_sites > li > a:hover{
    color: var(--cor02);
    border-bottom: 1px solid;
}
@media (max-width: 730px){
    header{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5% 10% 5% 0px;
        font-size: 3.1vw;
    }
    nav{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 100px;
    }
    img{
        width: 40vw;
    }
    .conteudo{
        padding: 15px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .conteudo > h2{
        font-size: 1.8em;
    }
    .conteudo > p > a{
        padding: 5px;
        border: 1px solid var(--cor02);
        border-radius: 10px;
        font-size: 1em;
        width: 50vw;
    }
    .menu{
        padding-left: -15px;
    }
}
@media (max-width: 855px){
    .dominio{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        gap: 25px 0px;
    }
    .menu{
       width: 5vw;
    }
}